*[ng-cloak]{
  display:none;
}

*{
  -webkit-box-sizing:border-box;
          box-sizing:border-box;
}

html,
body{
  height:100%;
  margin:0;
}

body{
  padding:15px;
  font-family:sans-serif;
}

.container{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  height:100%;
}

.container aside{
  width:30%;
}

.container section{
  width:70%;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
}

log-stream{
  width:100%;
  height:100%;
}

.logStream{
  background:#080F0F;
  padding:20px;
  width:100%;
  height:100%;
  overflow-y:auto;
  font-family:monospace;
  border-radius:5px;
}

.logStream__line{
  color:#BEC3C6;
  white-space:nowrap;
}

